{{>nav}}

<h2>These people already signed:</h2>

    {{#each listOfSigners}}
        {{#if url}}
            <p class="signers"><a href={{url}}>{{first}} {{last}}</a> {{age}} <a href="/signers/{{city}}" class="city">{{city}}</a></p>
        {{else}}
            <p class="signers">{{first}} {{last}} {{age}} <a href="/signers/{{city}}" class="city">{{city}}</a></p>
        {{/if}}
    {{/each}}


    {{#each listOfSignersPerCity}}
        {{#if url}}
            <p class="signers"><a href={{url}}>{{first}} {{last}}</a> {{age}}</p>
        {{else}}
            <p class="signers">{{first}} {{last}} {{age}}</p>
        {{/if}}
    {{/each}}
